extends layout

block content
  .w-full.px-4.text-xl.text-gray-800.leading-normal(class="md:px-6")

    h1.font-bold.font-sans.break-normal.text-gray-900.pt-6.pb-2.text-3xl(class="md:text-4xl") GitHub WebHook Inspector

    p.text-sm.font-normal.text-gray-600(class="md:text-base") Published 19 February 2019

    p.py-6
      | Welcome to GitHub WebHook Inspector.
    p.py-6
      | And now what do we do?

  // Divider
  hr.border-b-2.border-gray-400.mb-8.mx-4

  // Subscribe
  .container.mb-8.px-4
    .font-sans.bg-white.rounded-lg.shadow-md.p-4.text-center
      h2.font-bold.break-normal.text-xl(class="md:text-3xl") Subscribe to my Newsletter
      h3.font-bold.break-normal.font-normal.text-gray-600.text-sm(class="md:text-base") Get the latest posts delivered right to your inbox
      .w-full.text-center.pt-4
        form(action="#")
          .max-w-xl.mx-auto.p-1.pr-0.flex.flex-wrap.items-center
            input.flex-1.mt-4.appearance-none.border.border-gray-400.rounded.shadow-md.p-3.text-gray-600.mr-2(type="email" placeholder="youremail@example.com" class="focus:outline-none")
            button.flex-1.mt-4.block.appearance-none.bg-teal-500.text-white.text-base.font-semibold.tracking-wider.uppercase.py-4.rounded.shadow(type="submit" class="md:inline-block hover:bg-teal-400") Subscribe
