extends layout

block content
  .w-full.px-4.text-xl.text-gray-800.leading-normal(class="md:px-6")

    h1.font-bold.font-sans.break-normal.text-gray-900.pt-6.pb-2.text-3xl(class="md:text-4xl") Installations

    for installation in installations
      h3 Install ID=#{installation.installation_id}
      p Action = #{installation.action}