extends layout

block content
  .w-full.px-4.text-xl.text-gray-800.leading-normal(class="md:px-6")

    h1.font-bold.font-sans.break-normal.text-gray-900.pt-6.pb-2.text-3xl(class="md:text-4xl") GitHub WebHook Inspector

    p.py-6
      | Thanks for installing GitHub WebHook Inspector. There is nothing else you need to do now.
